/* Sistemas de Grillas, los sistemas de grillas (Sistemas de Columnas) nos ayudan a configurar el espacio y tamaño de nuestros elementos. En este caso, vamos a separar nuestra grilla en 12 posibles tamaños, así que debemos realizar la operación 100/12 y multiplicar el resultado por cada posible tamaño de nuestra grilla */
/* Aqui definimos los estilos de nuestro Sistema de Grillas (Sistema de Columnas) */
/* container es padre de row, y row es padre de col */

.container {
    max-width: 900px;  /* define el ancho máximo del contenedor */
    margin: auto;  /* hace que el contenerdor se mantenga al centro */
}

.row {
    display: flex;
}

/* el ancho de mis columnas definido en % lo calculamos de la siguiente manera: 100/12 -> me permite 12 columnas */
/* Valor por columna = 8.3333333333 */

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666666%;
}

.col-3 {
    width: 24.9999999999%;
}

.col-4 {
    width: 33.3333333332%;
}

.col-5 {
    width: 41.6666666665%;
}

.col-6 {
    width: 49.9999999998%;
}

.col-7 {
    width: 58.3333333331%;
}

.col-8 {
    width: 66.6666666664%;
}

.col-9 {
    width: 74.9999999997%;
}

.col-10 {
    width: 83.333333333%;
}

.col-11 {
    width: 91.6666666663%;
}

.col-12 {
    width: 100%;
}

/* Reglas generales para evitar que se junten o encimen las columnas */
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    padding: 10%;  /* me proporciona un seprado del contenido en mis columnas */
}

.col-1 img, .col-2 img, .col-3 img, .col-4 img, .col-5 img, .col-6 img, .col-7 img, .col-8 img, .col-9 img, .col-10 img, .col-11 img, .col-12 img {
    width: 100%;
}

.no-desk{
    display: none;
}

@media (max-width: 600px) {
    .container {
        padding: 30px;
    }
    .no-mobile {
        display: none
    }
    .no-desk {
        display: initial;
    }
    .row {
        display: inline;
        padding: 10px;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
        padding: 0px;
    }
}