/* Si nuestro archivo se ubica en la misma carpeta donde esta nuestro archivo en el que definimos las variables de CSS, se pueden seguir utilizando en otros archivos */

body {
    background-color: var(--black-color);
    text-align: center;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content_paypal a {
    color: var(--green-color);
}